/*

Light CSS3 Loading Bars by MediaLoot
URL: http://medialoot.com/item/light-css3-loading-bars

Designer: Tony Thomas

*/

/* General & Layout */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0; padding: 0;
	background: #fff url('background.png');
}

.container {
	width: 500px;
	margin: 0 auto;
	padding: 0px;
}

h1 {
	color: #333; 
	margin: 40px 0px; 
}

.divider {
	display: block;
	width: 500px;
	height: 1px;
	margin: 0 0 20px 0;
	background-color: rgba(0,0,0,0.1);
	}
	
	

/* Spacing */

.loading-container-1, .loading-container-2, .loading-container-3, .loading-container-4, .loading-container-5, .loading-container-6, .loading-container-7, .loading-container-8, .loading-container-9, .loading-container-10, .loading-container-11, .loading-container-12, .loading-container-13, .loading-container-14, .loading-container-15, .loading-container-16, .loading-container-17, .loading-container-18, .loading-container-19, .loading-container-20, .loading-container-21, .loading-container-22, .loading-container-23 , .loading-container-24 , .loading-container-25 , .loading-container-26 , .loading-container-27 ,.loading-container-28 , .loading-container-29 , .loading-container-30  
{margin-bottom: 20px;}


/* ------The Styles----- */

/*Style 1*/

.loading-container-1 {
	background-color: #eee;
	background-image:-moz-linear-gradient(50% 100% 90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%); 
	background-image:-webkit-gradient(linear,50% 100%,50% 0%,color-stop(0, rgb(255,255,255)),color-stop(0.5, rgb(231,231,231)),color-stop(0.5, rgb(255,255,255)),color-stop(0.99, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(238,238,238) 0%,rgb(255,255,255) 100%);
	width:501px;
	height:15px;
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true);
		
}

.loading-progress-1 {
	background-image:-moz-linear-gradient(45% 93% 90deg,rgb(104,118,123) 0%,rgb(104,118,123) 50%,rgb(130,141,145) 50%,rgb(130,141,145) 100%); 
	background-image:-webkit-gradient(linear,45% 93%,45% 1%,color-stop(0, rgb(104,118,123)),color-stop(0.5, rgb(104,118,123)),color-stop(0.5, rgb(130,141,145)),color-stop(1, rgb(130,141,145)));
	background-image:-webkit-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 50%,rgb(130,141,145) 50%,rgb(130,141,145) 100%);
	background-image:-o-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 50%,rgb(130,141,145) 50%,rgb(130,141,145) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 50%,rgb(130,141,145) 50%,rgb(130,141,145) 100%);
	background-image:linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 50%,rgb(130,141,145) 50%,rgb(130,141,145) 100%);
	width:354px;
	height:15px;
	-moz-box-shadow:inset 0px 0px 2px rgb(17,17,17);
	-webkit-box-shadow:inset 0px 0px 2px rgb(17,17,17);
	box-shadow:inset 0px 0px 2px rgb(17,17,17);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff828d91,endColorstr=#ff68767b,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff828d91,endColorstr=#ff68767b,GradientType=0);
}

/*Style 2*/

.loading-container-2 {
	background-color: #eee;
	background-image:-moz-linear-gradient(50% 100% 90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%); 
	background-image:-webkit-gradient(linear,50% 100%,50% 0%,color-stop(0, rgb(255,255,255)),color-stop(0.5, rgb(231,231,231)),color-stop(0.5, rgb(255,255,255)),color-stop(0.99, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(238,238,238) 0%,rgb(255,255,255) 100%);
	width:501px;
	height:15px;
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true);
}

.loading-progress-2 {
	background-image:-moz-linear-gradient(43% 100% 90deg,rgb(109,134,160) 0%,rgb(109,134,160) 50%,rgb(157,184,207) 50%,rgb(157,184,207) 100%); 
	background-image:-webkit-gradient(linear,43% 100%,43% 0%,color-stop(0, rgb(109,134,160)),color-stop(0.5, rgb(109,134,160)),color-stop(0.5, rgb(157,184,207)),color-stop(1, rgb(157,184,207)));
	background-image:-webkit-linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 50%,rgb(157,184,207) 50%,rgb(157,184,207) 100%);
	background-image:-o-linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 50%,rgb(157,184,207) 50%,rgb(157,184,207) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 50%,rgb(157,184,207) 50%,rgb(157,184,207) 100%);
	background-image:linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 50%,rgb(157,184,207) 50%,rgb(157,184,207) 100%);
	width:372px;
	height:15px;
	-moz-box-shadow:inset 0px 0px 2px rgb(46,50,61);
	-webkit-box-shadow:inset 0px 0px 2px rgb(46,50,61);
	box-shadow:inset 0px 0px 2px rgb(46,50,61);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9db8cf,endColorstr=#ff6d86a0,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9db8cf,endColorstr=#ff6d86a0,GradientType=0);
}

/*Style 3*/

.loading-container-3 {
	background-color: #eee;
	background-image:-moz-linear-gradient(50% 100% 90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%); 
	background-image:-webkit-gradient(linear,50% 100%,50% 0%,color-stop(0, rgb(255,255,255)),color-stop(0.5, rgb(231,231,231)),color-stop(0.5, rgb(255,255,255)),color-stop(0.99, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(238,238,238) 0%,rgb(255,255,255) 100%);
	width:501px;
	height:15px;
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true);
}

.loading-progress-3 {
	background-image:-moz-linear-gradient(54% 93% 90deg,rgb(0,128,255) 0%,rgb(0,128,255) 50%,rgb(0,191,255) 50%,rgb(0,191,255) 100%); 
	background-image:-webkit-gradient(linear,54% 93%,54% 7%,color-stop(0, rgb(0,128,255)),color-stop(0.5, rgb(0,128,255)),color-stop(0.5, rgb(0,191,255)),color-stop(1, rgb(0,191,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 50%,rgb(0,191,255) 50%,rgb(0,191,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 50%,rgb(0,191,255) 50%,rgb(0,191,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 50%,rgb(0,191,255) 50%,rgb(0,191,255) 100%);
	background-image:linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 50%,rgb(0,191,255) 50%,rgb(0,191,255) 100%);
	width:296px;
	height:15px;
	-moz-box-shadow:inset 0px 0px 2px rgb(12,55,95);
	-webkit-box-shadow:inset 0px 0px 2px rgb(12,55,95);
	box-shadow:inset 0px 0px 2px rgb(12,55,95);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff00bfff,endColorstr=#ff0080ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff00bfff,endColorstr=#ff0080ff,GradientType=0);
}

/*Style 4*/

.loading-container-4 {
	background-color: #eee;
	background-image:-moz-linear-gradient(50% 100% 90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%); 
	background-image:-webkit-gradient(linear,50% 100%,50% 0%,color-stop(0, rgb(255,255,255)),color-stop(0.5, rgb(231,231,231)),color-stop(0.5, rgb(255,255,255)),color-stop(0.99, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(238,238,238) 0%,rgb(255,255,255) 100%);
	width:501px;
	height:15px;
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true);
}

.loading-progress-4 {
	background-image:-moz-linear-gradient(52% 100% 90deg,rgb(92,181,25) 0%,rgb(92,181,25) 50%,rgb(216,242,152) 50%,rgb(216,242,152) 100%); 
	background-image:-webkit-gradient(linear,52% 100%,52% -2%,color-stop(0, rgb(92,181,25)),color-stop(0.5, rgb(92,181,25)),color-stop(0.5, rgb(216,242,152)),color-stop(1, rgb(216,242,152)));
	background-image:-webkit-linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 50%,rgb(216,242,152) 50%,rgb(216,242,152) 100%);
	background-image:-o-linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 50%,rgb(216,242,152) 50%,rgb(216,242,152) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 50%,rgb(216,242,152) 50%,rgb(216,242,152) 100%);
	background-image:linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 50%,rgb(216,242,152) 50%,rgb(216,242,152) 100%);
	width:310px;
	height:15px;
	-moz-box-shadow:inset 0px 0px 2px rgb(24,79,0);
	-webkit-box-shadow:inset 0px 0px 2px rgb(24,79,0);
	box-shadow:inset 0px 0px 2px rgb(24,79,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd8f298,endColorstr=#ff5cb519,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd8f298,endColorstr=#ff5cb519,GradientType=0);
}

/*Style 5*/

.loading-container-5 {
	background-color: #eee;
	background-image:-moz-linear-gradient(50% 100% 90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%); 
	background-image:-webkit-gradient(linear,50% 100%,50% 0%,color-stop(0, rgb(255,255,255)),color-stop(0.5, rgb(231,231,231)),color-stop(0.5, rgb(255,255,255)),color-stop(0.99, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:linear-gradient(90deg,rgb(255,255,255) 0%,rgb(231,231,231) 50%,rgb(255,255,255) 50%,rgb(255,255,255) 99%,rgb(255,255,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(238,238,238) 0%,rgb(255,255,255) 100%);
	width:501px;
	height:15px;
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#eeeeeeee,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true);
}

.loading-progress-5 {
	background-image:-moz-linear-gradient(45% 100% 90deg,rgb(255,128,0) 0%,rgb(255,128,0) 50%,rgb(255,201,38) 50%,rgb(255,201,38) 100%); 
	background-image:-webkit-gradient(linear,45% 100%,45% -2%,color-stop(0, rgb(255,128,0)),color-stop(0.5, rgb(255,128,0)),color-stop(0.5, rgb(255,201,38)),color-stop(1, rgb(255,201,38)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 50%,rgb(255,201,38) 50%,rgb(255,201,38) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 50%,rgb(255,201,38) 50%,rgb(255,201,38) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 50%,rgb(255,201,38) 50%,rgb(255,201,38) 100%);
	background-image:linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 50%,rgb(255,201,38) 50%,rgb(255,201,38) 100%);
	width:354px;
	height:15px;
	-moz-box-shadow:inset 0px 0px 2px rgb(153,67,0);
	-webkit-box-shadow:inset 0px 0px 2px rgb(153,67,0);
	box-shadow:inset 0px 0px 2px rgb(153,67,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc926,endColorstr=#ffff8000,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc926,endColorstr=#ffff8000,GradientType=0);
}

/*Style 6*/

.loading-container-6 {
	background-color:rgb(191,195,204);
	width:500px;
	height:8px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-6 {
	background-image:-moz-linear-gradient(53% 100% 90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%); 
	background-image:-webkit-gradient(linear,53% 100%,53% -8%,color-stop(0, rgb(104,118,123)),color-stop(0.01, rgb(104,118,123)),color-stop(0.99, rgb(130,141,145)),color-stop(1, rgb(130,141,145)));
	background-image:-webkit-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:-o-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	width:323px;
	height:6px;
	border-color:rgb(78,88,93);
	border-width:1px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff828d91,endColorstr=#ff68767b,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff828d91,endColorstr=#ff68767b,GradientType=0);
}

/*Style 7*/

.loading-container-7 {
	background-color:rgb(191,195,204);
	width:500px;
	height:8px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-7 {
	background-image:-moz-linear-gradient(51% 100% 90deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%); 
	background-image:-webkit-gradient(linear,51% 100%,51% -8%,color-stop(0, rgb(109,134,160)),color-stop(0.01, rgb(109,134,160)),color-stop(0.99, rgb(157,184,207)),color-stop(1, rgb(157,184,207)));
	background-image:-webkit-linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	background-image:-o-linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	background-image:linear-gradient(90deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	width:338px;
	height:6px;
	border-color:rgb(87,107,132);
	border-width:1px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9db8cf,endColorstr=#ff6d86a0,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9db8cf,endColorstr=#ff6d86a0,GradientType=0);
}

/*Style 8*/

.loading-container-8 {
	background-color:rgb(191,195,204);
	width:500px;
	height:8px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-8 {
	background-image:-moz-linear-gradient(48% 100% 90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%); 
	background-image:-webkit-gradient(linear,48% 100%,48% -8%,color-stop(0, rgb(0,128,255)),color-stop(0.01, rgb(0,128,255)),color-stop(0.99, rgb(0,191,255)),color-stop(1, rgb(0,191,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	width:362px;
	height:6px;
	border-color:rgb(14,102,221);
	border-width:1px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff00bfff,endColorstr=#ff0080ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff00bfff,endColorstr=#ff0080ff,GradientType=0);
}

/*Style 9*/

.loading-container-9 {
	background-color:rgb(191,195,204);
	width:500px;
	height:8px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-9 {
	background-image:-moz-linear-gradient(53% 117% 90deg,rgb(97,197,38) 0%,rgb(97,197,38) 1%,rgb(199,236,89) 99%,rgb(199,236,89) 100%); 
	background-image:-webkit-gradient(linear,53% 117%,53% -11%,color-stop(0, rgb(97,197,38)),color-stop(0.01, rgb(97,197,38)),color-stop(0.99, rgb(199,236,89)),color-stop(1, rgb(199,236,89)));
	background-image:-webkit-linear-gradient(90deg,rgb(97,197,38) 0%,rgb(97,197,38) 1%,rgb(199,236,89) 99%,rgb(199,236,89) 100%);
	background-image:-o-linear-gradient(90deg,rgb(97,197,38) 0%,rgb(97,197,38) 1%,rgb(199,236,89) 99%,rgb(199,236,89) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(97,197,38) 0%,rgb(97,197,38) 1%,rgb(199,236,89) 99%,rgb(199,236,89) 100%);
	background-image:linear-gradient(90deg,rgb(97,197,38) 0%,rgb(97,197,38) 1%,rgb(199,236,89) 99%,rgb(199,236,89) 100%);
	width:323px;
	height:6px;
	border-color:rgb(92,181,25);
	border-width:1px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc7ec59,endColorstr=#ff61c526,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc7ec59,endColorstr=#ff61c526,GradientType=0);
}

/*Style 10*/

.loading-container-10 {
	background-color:rgb(191,195,204);
	width:500px;
	height:8px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-10 {
	background-image:-moz-linear-gradient(49% 117% 90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%); 
	background-image:-webkit-gradient(linear,49% 117%,49% -11%,color-stop(0, rgb(255,128,0)),color-stop(0.01, rgb(255,128,0)),color-stop(0.99, rgb(255,201,38)),color-stop(1, rgb(255,201,38)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	width:352px;
	height:6px;
	border-color:rgb(243,121,0);
	border-width:1px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc926,endColorstr=#ffff8000,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc926,endColorstr=#ffff8000,GradientType=0);
}

/*Style 11*/

.loading-container-11 {
	background-color:rgb(236,236,236);
	width:501px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
}

.loading-progress-11 {
	background-image:-moz-linear-gradient(54% 94% 90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%); 
	background-image:-webkit-gradient(linear,54% 94%,54% 6%,color-stop(0, rgb(104,118,123)),color-stop(0.01, rgb(104,118,123)),color-stop(0.99, rgb(130,141,145)),color-stop(1, rgb(130,141,145)));
	background-image:-webkit-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:-o-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:linear-gradient(90deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	width:296px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0px 1px 3px rgb(58,63,65);
	-webkit-box-shadow:inset 0px 1px 3px rgb(58,63,65);
	box-shadow:inset 0px 1px 3px rgb(58,63,65);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff828d91,endColorstr=#ff68767b,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff828d91,endColorstr=#ff68767b,GradientType=0);
}

/*Style 12*/

.loading-container-12 {
	background-color:rgb(236,236,236);
	width:501px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
}

.loading-progress-12 {
	background-image:-moz-linear-gradient(57% 94% 90deg,rgb(157,184,207) 0%,rgb(157,184,207) 1%,rgb(184,204,221) 99%,rgb(184,204,221) 100%); 
	background-image:-webkit-gradient(linear,57% 94%,57% 7%,color-stop(0, rgb(157,184,207)),color-stop(0.01, rgb(157,184,207)),color-stop(0.99, rgb(184,204,221)),color-stop(1, rgb(184,204,221)));
	background-image:-webkit-linear-gradient(90deg,rgb(157,184,207) 0%,rgb(157,184,207) 1%,rgb(184,204,221) 99%,rgb(184,204,221) 100%);
	background-image:-o-linear-gradient(90deg,rgb(157,184,207) 0%,rgb(157,184,207) 1%,rgb(184,204,221) 99%,rgb(184,204,221) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(157,184,207) 0%,rgb(157,184,207) 1%,rgb(184,204,221) 99%,rgb(184,204,221) 100%);
	background-image:linear-gradient(90deg,rgb(157,184,207) 0%,rgb(157,184,207) 1%,rgb(184,204,221) 99%,rgb(184,204,221) 100%);
	width:282px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0px 1px 3px rgb(40,71,104);
	-webkit-box-shadow:inset 0px 1px 3px rgb(40,71,104);
	box-shadow:inset 0px 1px 3px rgb(40,71,104);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb8ccdd,endColorstr=#ff9db8cf,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb8ccdd,endColorstr=#ff9db8cf,GradientType=0);
}

/*Style 13*/

.loading-container-13 {
	background-color:rgb(236,236,236);
	width:501px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
}

.loading-progress-13 {
	background-image:-moz-linear-gradient(47% 94% 90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%); 
	background-image:-webkit-gradient(linear,47% 94%,47% 7%,color-stop(0, rgb(0,128,255)),color-stop(0.01, rgb(0,128,255)),color-stop(0.99, rgb(0,191,255)),color-stop(1, rgb(0,191,255)));
	background-image:-webkit-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:-o-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:linear-gradient(90deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	width:339px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0px 1px 3px rgb(32,73,112);
	-webkit-box-shadow:inset 0px 1px 3px rgb(32,73,112);
	box-shadow:inset 0px 1px 3px rgb(32,73,112);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff00bfff,endColorstr=#ff0080ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff00bfff,endColorstr=#ff0080ff,GradientType=0);
}

/*Style 14*/

.loading-container-14 {
	background-color:rgb(236,236,236);
	width:501px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
}

.loading-progress-14 {
	background-image:-moz-linear-gradient(46% 94% 90deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(216,242,152) 99%,rgb(216,242,152) 100%); 
	background-image:-webkit-gradient(linear,46% 94%,46% 7%,color-stop(0, rgb(92,181,25)),color-stop(0.01, rgb(92,181,25)),color-stop(0.99, rgb(216,242,152)),color-stop(1, rgb(216,242,152)));
	background-image:-webkit-linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(216,242,152) 99%,rgb(216,242,152) 100%);
	background-image:-o-linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(216,242,152) 99%,rgb(216,242,152) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(216,242,152) 99%,rgb(216,242,152) 100%);
	background-image:linear-gradient(90deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(216,242,152) 99%,rgb(216,242,152) 100%);
	width:353px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0px 1px 3px rgb(24,79,0);
	-webkit-box-shadow:inset 0px 1px 3px rgb(24,79,0);
	box-shadow:inset 0px 1px 3px rgb(24,79,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd8f298,endColorstr=#ff5cb519,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd8f298,endColorstr=#ff5cb519,GradientType=0);
}

/*Style 15*/

.loading-container-15 {
	background-color:rgb(236,236,236);
	width:501px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 3px rgba(0,0,0,0.5);
}

.loading-progress-15 {
	background-image:-moz-linear-gradient(54% 94% 90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%); 
	background-image:-webkit-gradient(linear,54% 94%,54% 7%,color-stop(0, rgb(255,128,0)),color-stop(0.01, rgb(255,128,0)),color-stop(0.99, rgb(255,201,38)),color-stop(1, rgb(255,201,38)));
	background-image:-webkit-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:-o-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:-ms-linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:linear-gradient(90deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	width:296px;
	height:18px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0px 1px 3px rgb(153,67,0);
	-webkit-box-shadow:inset 0px 1px 3px rgb(153,67,0);
	box-shadow:inset 0px 1px 3px rgb(153,67,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc926,endColorstr=#ffff8000,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc926,endColorstr=#ffff8000,GradientType=0);
}

/*Style 16*/

.loading-container-16 {
	background-color:rgb(252,252,252);
	width:500px;
	height:10px;
	border-color:rgb(233,233,233);
	border-width:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-style:solid;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-16 {
	background-image:-moz-linear-gradient(1% 40% 0deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%); 
	background-image:-webkit-gradient(linear,1% 40%,99% 40%,color-stop(0, rgb(104,118,123)),color-stop(0.01, rgb(104,118,123)),color-stop(0.99, rgb(130,141,145)),color-stop(1, rgb(130,141,145)));
	background-image:-webkit-linear-gradient(0deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:-o-linear-gradient(0deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:-ms-linear-gradient(0deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	background-image:linear-gradient(0deg,rgb(104,118,123) 0%,rgb(104,118,123) 1%,rgb(130,141,145) 99%,rgb(130,141,145) 100%);
	width:323px;
	height:10px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	-moz-box-shadow:inset 0px 1px 2px rgb(0,0,0);
	-webkit-box-shadow:inset 0px 1px 2px rgb(0,0,0);
	box-shadow:inset 0px 1px 2px rgb(0,0,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff68767b,endColorstr=#ff828d91,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff68767b,endColorstr=#ff828d91,GradientType=1);
}

/*Style 17*/

.loading-container-17 {
	background-color:rgb(252,252,252);
	width:500px;
	height:10px;
	border-color:rgb(233,233,233);
	border-width:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-style:solid;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-17 {
	background-image:-moz-linear-gradient(1% 40% 0deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%); 
	background-image:-webkit-gradient(linear,1% 40%,99% 40%,color-stop(0, rgb(109,134,160)),color-stop(0.01, rgb(109,134,160)),color-stop(0.99, rgb(157,184,207)),color-stop(1, rgb(157,184,207)));
	background-image:-webkit-linear-gradient(0deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	background-image:-o-linear-gradient(0deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	background-image:-ms-linear-gradient(0deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	background-image:linear-gradient(0deg,rgb(109,134,160) 0%,rgb(109,134,160) 1%,rgb(157,184,207) 99%,rgb(157,184,207) 100%);
	width:339px;
	height:10px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	-moz-box-shadow:inset 0px 1px 2px rgb(67,79,93);
	-webkit-box-shadow:inset 0px 1px 2px rgb(67,79,93);
	box-shadow:inset 0px 1px 2px rgb(67,79,93);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6d86a0,endColorstr=#ff9db8cf,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6d86a0,endColorstr=#ff9db8cf,GradientType=1);
}

/*Style 18*/

.loading-container-18 {
	background-color:rgb(252,252,252);
	width:500px;
	height:10px;
	border-color:rgb(233,233,233);
	border-width:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-style:solid;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-18 {
	background-image:-moz-linear-gradient(1% 40% 0deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%); 
	background-image:-webkit-gradient(linear,1% 40%,99% 40%,color-stop(0, rgb(0,128,255)),color-stop(0.01, rgb(0,128,255)),color-stop(0.99, rgb(0,191,255)),color-stop(1, rgb(0,191,255)));
	background-image:-webkit-linear-gradient(0deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:-o-linear-gradient(0deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:-ms-linear-gradient(0deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	background-image:linear-gradient(0deg,rgb(0,128,255) 0%,rgb(0,128,255) 1%,rgb(0,191,255) 99%,rgb(0,191,255) 100%);
	width:305px;
	height:10px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	-moz-box-shadow:inset 0px 1px 3px rgb(32,73,112);
	-webkit-box-shadow:inset 0px 1px 3px rgb(32,73,112);
	box-shadow:inset 0px 1px 3px rgb(32,73,112);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0080ff,endColorstr=#ff00bfff,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0080ff,endColorstr=#ff00bfff,GradientType=1);
}

/*Style 19*/

.loading-container-19 {
	background-color:rgb(252,252,252);
	width:500px;
	height:10px;
	border-color:rgb(233,233,233);
	border-width:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-style:solid;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-19 {
	background-image:-moz-linear-gradient(1% 40% 0deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(217,242,153) 99%,rgb(217,242,153) 100%); 
	background-image:-webkit-gradient(linear,1% 40%,99% 40%,color-stop(0, rgb(92,181,25)),color-stop(0.01, rgb(92,181,25)),color-stop(0.99, rgb(217,242,153)),color-stop(1, rgb(217,242,153)));
	background-image:-webkit-linear-gradient(0deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(217,242,153) 99%,rgb(217,242,153) 100%);
	background-image:-o-linear-gradient(0deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(217,242,153) 99%,rgb(217,242,153) 100%);
	background-image:-ms-linear-gradient(0deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(217,242,153) 99%,rgb(217,242,153) 100%);
	background-image:linear-gradient(0deg,rgb(92,181,25) 0%,rgb(92,181,25) 1%,rgb(217,242,153) 99%,rgb(217,242,153) 100%);
	width:386px;
	height:10px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	-moz-box-shadow:inset 0px 1px 2px rgb(52,84,18);
	-webkit-box-shadow:inset 0px 1px 2px rgb(52,84,18);
	box-shadow:inset 0px 1px 2px rgb(52,84,18);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5cb519,endColorstr=#ffd9f299,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5cb519,endColorstr=#ffd9f299,GradientType=1);
}

/*Style 20*/

.loading-container-20 {
	background-color:rgb(252,252,252);
	width:500px;
	height:10px;
	border-color:rgb(233,233,233);
	border-width:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-style:solid;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow:0px 1px 0px rgba(255,255,255,0.25) ,inset 0px 1px 2px rgba(0,0,0,0.5);
}

.loading-progress-20 {
	background-image:-moz-linear-gradient(1% 40% 0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%); 
	background-image:-webkit-gradient(linear,1% 40%,119% 40%,color-stop(0, rgb(255,128,0)),color-stop(0.01, rgb(255,128,0)),color-stop(0.99, rgb(255,201,38)),color-stop(1, rgb(255,201,38)));
	background-image:-webkit-linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:-o-linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:-ms-linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	background-image:linear-gradient(0deg,rgb(255,128,0) 0%,rgb(255,128,0) 1%,rgb(255,201,38) 99%,rgb(255,201,38) 100%);
	width:270px;
	height:10px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	-moz-box-shadow:inset 0px 1px 2px rgb(153,67,0);
	-webkit-box-shadow:inset 0px 1px 2px rgb(153,67,0);
	box-shadow:inset 0px 1px 2px rgb(153,67,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff8000,endColorstr=#ffffc926,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff8000,endColorstr=#ffffc926,GradientType=1);
}

/*Style 21*/

.loading-container-21 {
	background-color:transparent;
	width:501px;
	height:12px;
	border-color:rgb(104,118,123);
	border-width:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-style:solid;
	
}

.loading-progress-21 {
	background-color:rgb(104,118,123);
	width:354px;
	height:12px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px;
	margin-left: -1px;
}

/*Style 22*/

.loading-container-22 {
	background-color:transparent;
	width:501px;
	height:12px;
	border-color:rgb(109,134,160);
	border-width:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-style:solid;
}

.loading-progress-22 {
	background-color:rgb(109,134,160);
	width:303px;
	height:12px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px;
	margin-left: -1px;
}

/*Style 23*/

.loading-container-23 {
	background-color:transparent;
	width:501px;
	height:12px;
	border-color:rgb(11,193,254);
	border-width:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-style:solid;
}

.loading-progress-23 {
	background-color:rgb(11,193,254);
	width:327px;
	height:12px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px;
	margin-left: -1px;
}

/*Style 24*/

.loading-container-24 {
	background-color:transparent;
	width:501px;
	height:12px;
	border-color:rgb(150,217,64);
	border-width:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-style:solid;
}

.loading-progress-24 {
	background-color:rgb(150,217,64);
	width:364px;
	height:12px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px;
	margin-left: -1px;
}

/*Style 25*/

.loading-container-25 {
	background-color:transparent;
	width:501px;
	height:12px;
	border-color:rgb(255,134,12);
	border-width:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-style:solid;
}

.loading-progress-25 {
	background-color:rgb(255,134,12);
	width:310px;
	height:12px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px;
	margin-left: -1px;
}

/*Style 26*/

.loading-container-26 {
	background-color:transparent;
	width:501px;
	height:8px;
	border-color:rgb(104,118,123);
	border-width:2px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
}

.loading-progress-26 {
	background-color:rgb(104,118,123);
	width:293px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin: 2px;
}

/*Style 27*/

.loading-container-27 {
	background-color:transparent;
	width:501px;
	height:8px;
	border-color:rgb(157,184,207);
	border-width:2px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
}

.loading-progress-27 {
	background-color:rgb(157,184,207);
	width:263px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin: 2px;
}

/*Style 28*/

.loading-container-28 {
	background-color:transparent;
	width:501px;
	height:8px;
	border-color:rgb(0,191,255);
	border-width:2px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
}

.loading-progress-28 {
	background-color:rgb(11,193,254);
	width:350px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin: 2px;
}

/*Style 29*/

.loading-container-29 {
	background-color:transparent;
	width:501px;
	height:8px;
	border-color:rgb(150,217,64);
	border-width:2px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
}

.loading-progress-29 {
	background-color:rgb(150,217,64);
	width:280px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin: 2px;
}

/*Style 30*/

.loading-container-30 {
	background-color:transparent;
	width:501px;
	height:8px;
	border-color:rgb(255,128,0);
	border-width:2px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-style:solid;
}

.loading-progress-30 {
	background-color:rgb(255,134,12);
	width:293px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin: 2px;
}