	.page {
		  position         : absolute;
		  top              : 40px;
		  width            : 900px;
		  left             : 50%;
		  margin-left      : -450px;
		  margin-bottom    : 100px;
		  background-color : white;}
		  
	body {
		  background-color : #AAAAAD;
		  font-family      : 'Roboto', 'San-serif';}

	.content {
		  padding : 20px 40px 20px 40px;
		  color   : #444;}

	h1, h4 {
		  font-weight : normal;
		  margin-left : 40px;
		  color       : #444;}		

	a {
		  text-decoration : none;
		  color           : #09C;}

		a:visited {
		color : #82C;}

	a:hover {
		color : #0AF;}

	td {
		padding : 0px 0px 0px 0px;}

	ul {
	  list-style-type: none;}
		  
	.footer {
		  position    : relative;
		  top         : 50px;
		  width       : 900px;
		  left        : 50%;
		  margin-left : -450px;
		  text-align  : center;
		  color       : grey;}

	.loginformuser{
		  
		  position    : relative;
		  top         : 0px;
		  width       : 200px;
		  left        : 10%;}

	.loginformpass{
		  
		  position    : relative;
		  top         : 0px;
		  width       : 200px;
		  left        : 10%;}	

	.leftside{
		width				: 50%;
		float				: left;
	}
		  
	.rightside{
		float				: left;
		padding-left		: 20px;
	}	