{% load static %}
<html>
<head>
  <title>WebTracing | AIiR</title>
  
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/> 
	{% block head %}
	{% endblock %}
  <!--link href="{% static "assets/css/theme.css" %}" rel="stylesheet" type="text/css"/--> 
 
  <script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"></script>
  <script src="{% static "assets/js/seen.min.js" %}"></script>
  
<style type="text/css">
/* <![CDATA[ */
	.page {
		  position         : absolute;
		  top              : 40px;
		  width            : 900px;
		  left             : 50%;
		  margin-left      : -450px;
		  margin-bottom    : 100px;
		  background-color : white;}
		  
	body {
		  background-color : #AAAAAD;
		  font-family      : 'Roboto', 'San-serif';}

	.content {
		  padding : 20px 40px 20px 40px;
		  color   : #444;}

	h1, h4 {
		  font-weight : normal;
		  margin-left : 40px;
		  color       : #444;}		

	a {
		  text-decoration : none;
		  color           : #09C;}

		a:visited {
		color : #82C;}

	a:hover {
		color : #0AF;}

	td {
		padding : 0px 0px 0px 0px;}

	ul {
	  list-style-type: none;}
		  
	.footer {
		  position    : relative;
		  top         : 50px;
		  width       : 900px;
		  left        : 50%;
		  margin-left : -450px;
		  text-align  : center;
		  color       : grey;}

	.loginformuser{
		  
		  position    : relative;
		  top         : 0px;
		  width       : 200px;
		  left        : 10%;}

	.loginformpass{
		  
		  position    : relative;
		  top         : 0px;
		  width       : 200px;
		  left        : 10%;}	

	.leftside{
		width				: 50%;
		float				: left;
	}
		  
	.rightside{
		float				: left;
		padding-left		: 20px;
	}	
			
/* ]]> */
</style>
</head>

<body>
  <div class="page">
    <h1>webTracing<span style="font-size:0.5em;padding-left:20px;color:#888;">pararell 3D rendering system.</span></h1>

	<!--mg src="{% static "assets/images/header.png" %}" width="900" height="150" alt="triangles header" /-->
	<canvas id="seen-canvas" width="900" height="150"></canvas>

    <div class="content">

		{% block content %}
		{% endblock %}	

	<br clear="all" />
    </div>

    <div class="footer">Aplikacje Internetowe i Rozproszone || Projekt webTracing</a></div>

  </div>
 
    <script type="text/coffeescript" src="{% static "assets/js/simplex-noise.coffee" %}"></script>
	  <script type="text/coffeescript" src="{% static "assets/js/seenjs.js" %}"></script>
</body>
</html>
