{% extends "base.html" %}
	{% block content %}

		<h2>Witaj w webTracing</h2>
		<div class="leftside">		
		<form action="/accounts/auth/" method="post">{% csrf_token %}
			<h1>Zaloguj sie</h1>
			<p class="loginformuser">
				<label for="username">Nazwa uzytkownika</label>
				<input type="text" name="username" required>
			</p>
			<p class="loginformpass">
				<label for="password">Haslo</label>
				<input type="password" name='password' required> 
				<input type="submit" name="submit" value="Continue">

			</p>     
		</form>	
		</div>

		<div class="rightside">
		<p style="margin-top: 30%">albo przejdz do Panelu Administratora Django <a href="/admin">Klik!</a></p>
		</div>		
	
	{% endblock %}

